<!DOCTYPE html>
<html>

<head>
  <title>Assassins</title>  
</head>

<body>

  <div class="welcome">
    <center>
      <h1>
        <font size="13" color="black">
           Assassins
        </font>
      </h1>
    </center>
  </div>

  <center>
    <hr>
  </center>

  <div class="target">
    <center>
      <font size="6" color="black">Target : {{user}}</font>
    </center>
    <center>
      <img src='{{url_for("static", filename="uploads/prof.png")}}'  alt="Picture">
    </center>
  </div>

  <center>
    <hr>
    <a href="/logout">Logout</a>
    <a href="/remove">Remove Me</a>
  <center>

</body>

</html>
