<style>
	* {
 box-sizing: border-box;
 }
 *:focus {
 outline: none;
 }
 body {
 font-family: Arial;
 background-color: #E55423;
 padding: 50px;
 }
 .register {
 margin: 20px auto;
 width: 300px;
 }
 .register-screen {
 background-color: #FFF;
 padding: 20px;
 border-radius: 5px
 }
 .app-title {
 text-align: center;
 color: #777;
 }
 .register-form {
 text-align: center;
 }
 .control-group {
 margin-bottom: 10px;
 }
 input {
 text-align: center;
 background-color: #ECF0F1;
 border: 2px solid transparent;
 border-radius: 3px;
 font-size: 16px;
 font-weight: 200;
 padding: 10px 0;
 width: 250px;
 transition: border .5s;
 }
 input:focus {
 border: 2px solid #3498DB;
 box-shadow: none;
 }
 .btn {
 border: 2px solid transparent;
 background: #E55423;
 color: #ffffff;
 font-size: 16px;
 line-height: 25px;
 padding: 10px 0;
 text-decoration: none;
 text-shadow: none;
 border-radius: 3px;
 box-shadow: none;
 transition: 0.25s;
 display: block;
 width: 250px;
 margin: 0 auto;
 }
 .btn:hover {
 background-color: #E55423;
 }
 .register-link {
 font-size: 12px;
 color: #444;
 display: block;
 margin-top: 12px;
 }  
	</style>
	<title>Register</title>
 {% block body %}
 <form action="/registerAccount" method="POST" enctype="multipart/form-data">
 <div class="register">
	 <div class="register-screen">
		 <div class="app-title">
			 <h1>Register</h1>
		 </div>
	 <div class="register-form">
		 <div class="control-group">
				 <input type="text" class="register-field" value="" placeholder="username" name="username" required>
				 <label class="register-field-icon" for="register-name"></label>
		 </div>
		 <div class="control-group">
			<input type="text" class="register-field" value="" placeholder="email" name="email" required>
			<label class="register-field-icon fui-user" for="register-email"></label>
		</div>
		 <div class="control-group">
				 <input type="password" class="register-field" value="" placeholder="password" name="password" required>
				 <label class="register-field-icon fui-lock" for="register-pass"></label>
		 </div>
		 <div class="control-group">
				<input type = "file" name = "photo" required>
			  <label class="register-field-icon fui-lock" for="register-photo"></label>
	    </div>
			<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">
		</div>
	 </div>
	</div>
 </form>
 {% endblock %}
 